<p id="notice"><%= notice %></p>

<p>
  <strong>Short url:</strong>
  <%= @link.short_text(@link.original_url).first %>
</p>
<p>
  访问量: <%= @link.views.incr %>
</p>

<%= link_to 'Edit', edit_link_path(@link) %> |
<%= link_to 'Back', links_path %>
